@font-face {
  font-family: "Estedad VF";
  src: url("../assets/fonts/Estedad/Estedad-VF.woff2") format("woff2"); }
.light {
  font-variation-settings: "wght" 300; }

.normal {
  font-variation-settings: "wght" 400; }

.medium {
  font-variation-settings: "wght" 500; }

.bold {
  font-variation-settings: "wght" 600; }

.semi-black {
  font-variation-settings: "wght" 700; }

.black {
  font-variation-settings: "wght" 800; }

@font-face {
  font-family: 'icomoon';
  src: url("../assets/fonts/icomoon/icomoon.eot?dnowcr");
  src: url("../assets/fonts/icomoon/icomoon.eot?dnowcr#iefix") format("embedded-opentype"), url("../assets/fonts/icomoon/icomoon.ttf?dnowcr") format("truetype"), url("../assets/fonts/icomoon/icomoon.woff?dnowcr") format("woff"), url("../assets/fonts/icomoon/icomoon.svg?dnowcr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-rotate-cw:before {
  content: "\e900"; }

.icon-arrow-right:before {
  content: "\e901"; }

.icon-arrow-left:before {
  content: "\e902"; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #fafafa;
  font-family: "Estedad VF", serif;
  direction: rtl;
  width: 100vw !important;
  max-width: 100vw !important;
  overflow-x: hidden !important; }

body::-webkit-scrollbar {
  width: 12px; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey; }

::selection {
  background: #3BB9FF;
  color: white; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

label {
  cursor: pointer; }

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none; }

.holder {
  width: 1024px;
  margin: auto; }

header {
  float: right;
  width: 100%;
  background: #212836;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px; }
  header h1 {
    text-align: center;
    font-size: 28px;
    color: white;
    margin: 32px 0 12px; }
  header h2 {
    text-align: center;
    font-size: 18px;
    color: white;
    margin: 0 0 16px; }
  header #browser-bar {
    float: right;
    width: 90%;
    margin: 12px 5% 24px;
    height: 36px;
    padding: 0 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1); }
    header #browser-bar i {
      float: left;
      color: white;
      height: 36px;
      line-height: 36px;
      font-size: 19px;
      padding-right: 12px; }
    header #browser-bar span {
      float: left;
      width: calc(100% - 192px);
      text-align: left;
      background: rgba(255, 255, 255, 0.6);
      height: 28px;
      line-height: 28px;
      font-size: 15px;
      padding: 0 12px;
      margin: 4px 0 4px 12px;
      border-radius: 5px; }
    header #browser-bar:before {
      content: "";
      position: relative;
      top: 5px;
      right: 42px;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #28c940;
      box-shadow: 20px 0 0 #ffbd2f, 40px 0 0 #ff6057; }

span.divider {
  float: right;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 48px;
  color: #454545;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
  opacity: 0.4; }

.section-container {
  float: left;
  width: 100%;
  margin: 16px 0 0;
  overflow: hidden; }
  .section-container h3 {
    float: right;
    width: 100%;
    margin: 6px 0 16px;
    text-align: center;
    font-size: 18px;
    padding: 0;
    color: #353535; }
    .section-container h3 b {
      color: #D32F2F; }
  .section-container section {
    float: right;
    width: 80%;
    margin: 16px 10%;
    border: 4px dotted rgba(0, 0, 0, 0.2);
    padding: 16px;
    border-radius: 15px;
    background: white;
    overflow: hidden; }
    .section-container section h4 {
      float: right;
      width: 100%;
      text-align: right;
      font-size: 18px;
      padding: 6px 0;
      color: #353535; }
    .section-container section p {
      float: right;
      width: 100%;
      font-size: 16px;
      text-align: justify;
      color: #353535;
      padding: 6px 0; }

a {
  transition: opacity .15s; }
  a * {
    transition: opacity .15s; }
  a:hover {
    opacity: 0.7; }
    a:hover h1, a:hover h2, a:hover h3, a:hover h4 {
      opacity: 0.7; }

@keyframes blink {
  50% {
    opacity: 0.0; } }
.blink {
  animation: blink 1s step-start 0s infinite; }

@keyframes direction {
  0% {
    color: red;
    font-variation-settings: 'wght' 400;
    line-height: 2; }
  50% {
    color: blue;
    font-variation-settings: 'wght' 800;
    line-height: 2.5; }
  75% {
    color: green;
    font-variation-settings: 'wght' 600;
    line-height: 3; }
  100% {
    color: red;
    font-variation-settings: 'wght' 400;
    line-height: 2; } }
.direction {
  animation: direction 3s infinite; }

.marquee {
  position: relative;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  animation: scroll-right 10s linear infinite; }

@keyframes scroll-right {
  100% {
    transform: translateX(100%); }
  0% {
    transform: translateX(-100%); } }
.garish {
  background-color: #66a3ff !important;
  background-image: repeating-linear-gradient(transparent, transparent 50px, purple 50px, purple 53px, transparent 53px, transparent 63px, purple 63px, purple 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, 0.5) 116px, rgba(0, 0, 0, 0.5) 166px, rgba(255, 255, 255, 0.2) 166px, rgba(255, 255, 255, 0.2) 169px, rgba(0, 0, 0, 0.5) 169px, rgba(0, 0, 0, 0.5) 179px, rgba(255, 255, 255, 0.2) 179px, rgba(255, 255, 255, 0.2) 182px, rgba(0, 0, 0, 0.5) 182px, rgba(0, 0, 0, 0.5) 232px, transparent 232px), repeating-linear-gradient(270deg, transparent, transparent 50px, purple 50px, purple 53px, transparent 53px, transparent 63px, purple 63px, purple 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, 0.5) 116px, rgba(0, 0, 0, 0.5) 166px, rgba(255, 255, 255, 0.2) 166px, rgba(255, 255, 255, 0.2) 169px, rgba(0, 0, 0, 0.5) 169px, rgba(0, 0, 0, 0.5) 179px, rgba(255, 255, 255, 0.2) 179px, rgba(255, 255, 255, 0.2) 182px, rgba(0, 0, 0, 0.5) 182px, rgba(0, 0, 0, 0.5) 232px, transparent 232px) !important; }
  .garish * {
    color: white !important; }

.contrast {
  background: #454545 !important; }

#design-brushscript p {
  color: #fff;
  text-align: center;
  -webkit-text-stroke: 1px black;
  font-size: 20px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073; }

table, th, td {
  border: 1px solid black;
  text-align: center; }

#design-border-space p {
  float: right;
  width: 100%;
  border: 3px solid rgba(0, 0, 0, 0.5);
  padding: 48px;
  text-align: center;
  line-height: 3; }

.caution {
  float: right;
  width: 100%;
  margin: 32px 0 0;
  padding-top: 32px;
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
  color: #454545;
  line-height: 2;
  border-top: 6px dotted rgba(69, 69, 69, 0.2); }

footer {
  padding: 0 !important; }

footer p {
  float: right;
  color: #454545;
  height: 64px;
  line-height: 64px;
  font-size: 16px; }

footer p b {
  color: #D32F2F; }

footer #contribute {
  color: #2196F3;
  transition: opacity 0.25s; }

footer #contribute:hover {
  opacity: 0.5; }

footer #EM-Copyright {
  float: left;
  line-height: 42px;
  height: 42px;
  width: 42px;
  margin: 11px 0;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #D32F2F;
  text-align: center;
  transition: 0.15s all; }

footer #EM-Copyright svg {
  margin-top: 9px;
  height: 24px; }

footer #EM-Copyright svg path {
  transition: 0.15s all;
  fill: #D32F2F; }

footer #EM-Copyright:hover {
  background: #D32F2F;
  color: #ffffff;
  border-color: #ffffff; }

footer #EM-Copyright:hover svg path {
  fill: #ffffff; }

#em-projects {
  float: right;
  width: 100%;
  margin: 16px 0; }

@media only screen and (min-width: 1080px) {
  .desktop-only, .tablet-and-up {
    display: block !important; }

  .mobile-only, .tablet-only, .tablet-and-down {
    display: none !important; } }
@media only screen and (max-width: 1080px) {
  .tablet-only, .tablet-and-up, .tablet-and-down {
    display: block !important; }

  .mobile-only, .desktop-only {
    display: none !important; }

  .holder {
    width: 96% !important;
    margin: auto 2% !important; } }
@media only screen and (max-width: 700px) {
  .mobile-only, .tablet-and-down {
    display: block !important; }

  .desktop-only, .tablet-only, .tablet-and-up {
    display: none !important; }

  header {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; }
    header h1 {
      font-size: 22px;
      margin: 24px 0 12px; }
    header h2 {
      font-size: 13px;
      margin: 0 0 12px; }
    header #browser-bar {
      width: 96%;
      margin: 12px 2% 24px; }
      header #browser-bar i {
        font-size: 16px;
        padding-right: 8px; }
      header #browser-bar span {
        float: left;
        width: calc(100% - 144px);
        text-align: center;
        font-size: 12px;
        margin: 4px 0 4px 8px; }
      header #browser-bar:before {
        right: 32px; }

  span.divider {
    font-size: 32px; }

  .section-container {
    margin: 12px 0 0; }
    .section-container h3 {
      margin: 0 0 12px;
      padding: 0 8px;
      font-size: 15px; }
    .section-container section {
      width: 92%;
      margin: 12px 4%; }
      .section-container section h4 {
        font-size: 17px; }
      .section-container section p {
        font-size: 14px; }

  footer p {
    font-size: 14px; } }

/*# sourceMappingURL=app.css.map */
